<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="xamarinmac20" />
  <package id="FFmpeg.AutoGen" version="4.3.1" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Logging.Debug" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="NDesk.Options.Core" version="1.2.5" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinmac20" />
  <package id="Nito.AsyncEx.Context" version="5.1.0" targetFramework="xamarinmac20" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.0" targetFramework="xamarinmac20" />
  <package id="Nito.Disposables" version="2.2.0" targetFramework="xamarinmac20" />
  <package id="OpenXbox.XboxWebApi" version="0.3.0" targetFramework="xamarinmac20" />
  <package id="SDL2-CS-Rolling" version="2018.11.1" targetFramework="xamarinmac20" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinmac20" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="xamarinmac20" />
</packages>